header{
    display: flex;
    justify-content: center;
    padding: 50px 60px 20px 60px;
    color: white;
    background-color: darksalmon;
}

img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

body {
    background-color: cornsilk;
    margin: 0px;
}
button{
    background-color: brown;
}
