header{
    display: flex;
    background-color: darksalmon;
    justify-content: center;
    padding: 30px;
}

img{
    border-radius: 50%;
    width: 90px;
    height: 90px;
}

body {
    background-color: cornsilk;
}
button{
    background-color: brown;
}